DATABASE_URL=sqlite:///./database.db
SECRET_KEY=change-this-secret
ALGORITHM=HS256                         # Algoritimo usado no JWT decode e encode
ACCESS_TOKEN_EXPIRE_MINUTES=60
FRONTEND_URL=http://localhost:5173
DEBUG=false

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
USE_REAL_AI=False